services:
  marzban:
    image: gozargah/marzban:latest
    container_name: marzban
    restart: always
    network_mode: host
    env_file: .env
    volumes:
      - /var/lib/marzban:/var/lib/marzban
      # Localized files mapping
      - ./app/telegram/handlers/admin.py:/code/app/telegram/handlers/admin.py
      - ./app/telegram/handlers/report.py:/code/app/telegram/handlers/report.py
      - ./app/telegram/handlers/user.py:/code/app/telegram/handlers/user.py
      - ./app/telegram/utils/keyboard.py:/code/app/telegram/utils/keyboard.py
      - ./app/telegram/utils/shared.py:/code/app/telegram/utils/shared.py
      - ./app/xray/config.py:/code/app/xray/config.py
      - ./app/xray/core.py:/code/app/xray/core.py
    environment:
      - TZ=Europe/Moscow
